<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4">About Us</h3>
                <p>Burası Hakkımızda Yazısı</p>
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About US</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Author Login</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Movie & Series</a></li>
                    <li><a href="#">Travel</a></li>
                </ul>
            </div>
            <div class="col-md-4">


                <div class="float-right">
                    <h3 class="footer-heading mb-4 float-right clearfix">Connect With Us</h3><br />
                    <p class="float-right mr-0">
                        <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-rss p-2"></span></a>
                        <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="http://emincankarasoy.com" target="_blank">Emincan Karasoy</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>

